html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------------  Responsive Image -----------------*/
img {
  max-width:100%;
}

/* ------------  Utlity Classes -----------------*/

.container{
  margin:auto;
  padding:40px;
}


body{
background-color:#d9a68f;  
font-family: "Rubik", sans-serif;
}

main{
  background-color:#ffffff;
  width:80vw;
  max-width:980px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto; 
  /*Shorthand */
  margin: 40px auto;
  margin: 40px auto 40px auto;
  border: 2px solid #0d0f0f;
  border-radius: 5px;
}
header.primary{
background-color:#d9a68f;
padding:20px; 
background-image:url("https://assets.codepen.io/7248/bg_1.png"); 
background-repeat:no-repeat;  
background-size:cover;  
background-position: center;
border:3px solid #bf3d0a;  
display:flex;  
justify-content:space-between;  
}

div.hgroup{
width:70%;  
text-align:left;  
}
header.primary nav{
width:30%;
}

header.primary nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}



header.primary nav ul li a{
  color:#fff;
  display:block;
  margin-bottom:10px;
  background: rgba(0,0,0,.6);
  border:1px solid #cc3a3a;
  border-right:10px solid #cc3a3a;
  border-radius:20px 0;
  padding: 10px 10px 10px 0;
  text-align:right;
  font-size:.9rem;
  text-decoration:none;
  text-shadow:2px 1px #000;
  transition:.5s;
}

header.primary nav ul li a:hover{
  text-decoration:underline;
  background: rgba(0,0,0,.9);
}

div.hgroup h1 a{
  color:#ffffff;
  text-decoration:none;
  font-size:2.5rem;
  text-shadow: 2px 2px #000;
}

div.hgroup h2{
color:#ffffff;
text-shadow: 2px 2px #000;  
}

.hgroup h1, .hgroup h2{
  margin:0;
}

#content{
line-height:1.6;
}

#content h2, #content h3, .widget header h2{
  color:#161A59;
  border-left: 7.5px solid #d94141;
  border-radius:15px 0;
  padding:5px 7.5px 0 5px;
}

#blog{
  background-color:#6e271b;
  padding:20px 0;
  border-top:6px double #cc3a3a;
  border-bottom:6px double #cc3a3a;
}

#blog > h2{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  margin-left:20px;
}

#blog .post {
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "figure header"
    "figure post-content"
    "figure footer";
  margin:20px;
  padding:20px;
  background:#ffffff;
}

.post figure{
  grid-area:figure;
  margin:0 20px 0 0;
}
.post header{
  grid-area:header;
}
.post .post-content{
  grid-area:post-content;
}
.post .post-meta{
  grid-area:footer;
}

aside .container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
}

#colophon{
background-image:url("https://assets.codepen.io/7248/bg_1.png"); 
background-repeat:no-repeat;  
background-size:cover; 
padding:1px;
text-align:center;
color:#fff;  
}