
      .formlabel {
        display: inline-block;
        width: 100px;
        text-align: right;
        padding: 5px;
        font-weight: bold;
    }
    .error {
      color: red;
      padding-left: 5px;
    }